* {
  font-family: 'Sora', sans-serif;
}

body, button, div, .options, #coin, form, input, a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f3d9;
  flex-direction: column;
  border-radius: 5vh;
}

body {
  background: #030027;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  background-color: #656256;
  border: none;
  padding: 3vh 5vh 3vh 5vh;
  margin: 2vh 2vh 2vh 2vh;
  width: 100%;
  height: auto;
  font-size: 3vh;
  cursor: pointer;
}

.pageGreeting {
  background-color: #721817;
  padding: 4vh;
  font-size: 4vh;
}

.coin {
  background-color: #721817;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

form {
  background-color: #151E3F;
  border-radius: 4v
}

input {
  background-color: #656256;
  color: #F2F3D9;
}

a:hover {
  color: blue;
}