* {
  font-family: 'Sora', sans-serif;
}

body, button, div, .options, #coin, form, input, a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFBFF;
  flex-direction: column;
  border-radius: 5vh;
  font-size: 2vh;
}

body {
  background-image: url('https://wallpapercave.com/wp/uSzT8Or.jpg');
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  background-color: hsla(154, 100%, 9%, 70%);
  border: none;
  padding: 3vh 5vh 3vh 5vh;
  margin: 2vh 2vh 2vh 2vh;
  width: 100%;
  height: auto;
  font-size: 3vh;
  cursor: pointer;
}

.pageGreeting {
  background-color: #721817;
  padding: 4vh;
  font-size: 4vh;
}

.coin {
  background-color: #721817;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

form {
  border-radius: 4v
}

input {
  outline: none;
  background-color: #002E1A;
  color: #FFFBFF;
  margin: 2vh;
  padding: 1vh 2vh 1vh 2vh;
  width: 80%;
  height: auto;
  font-size: 3vh;
}

a:hover {
  color: blue;
}

button:hover {
  color: #002E1A;
  background-color: hsla(0, 100%, 99%, 80%);
}

.nameOption {
  display: flex;
  flex-direction: row;
}
.options {
  margin: none;
  padding: 5vh 0 5vh 0;
}
.options button[type=radio] {
  width: .5vh;
  height: .5vh;
  padding: 3vh;
  color: hsl(48, 100%, 50%);
  margin: .5vh;
  align-content: center;
  font-size: 2vh;
}
.options label {
  font-size: 4vh;
  background-color: hsla(48, 100%, 50%, 70%);
  padding: 1vh;
  border-radius: 5vh;
}

#dropdownMenuButton1 {
  background-color: hsla(154, 100%, 9%, 70%);
  border-radius: 5vh;
  font-size: 2vh;
  margin-bottom: 1vh;
  padding: 2vh;
}